*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Alata", sans-serif;
}

.principal__section{
    background-image: url("./assets/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px;
    font-family: "Josefin Sans", sans-serif;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list{
    display: flex;
    list-style: none;
    gap: 25px;
    color: #fff;


}

/* .hero>h1{ */
    /* margin-top: 100px;
    color: #fff;
    /* font-family: "Josefin Sans", sans-serif; */
    /* font-weight: 400; */
    /* font-size: 60px; */
    /* border: solid #fff; */
    /* padding: 20px; */
    /* width: 35%; */
    /* word-wrap: break-word; */

/* } */

.hero div {
    border: solid #fff;
    padding: 20px;
    width: 35%;
    margin-top: 100px;
    word-wrap: break-word;

}

.hero>div>h1{
    color: #fff;
    font-weight: normal;
    font-size: 60px;

}

.article__section{
    display: flex;
    padding: 60px;
    justify-content: center;


}

.article__container{
    align-self: end;
    /* border: solid; */
    width: 25%;
    margin-left: -150px;
    background-color: #fff;
    /* padding: 60px; */
    padding: 60px 60px 0 60px;

}

.article__container h2{
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
    padding-bottom: 20PX;

}


/* .gallery{
    position: relative;
}

.gallery div h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    top: 0;
    color: #fff;
    border: solid red;

} */

.gallery{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 70vh 70vh;
    padding: 60px;
}


.gallery div{
    /* background: url("./assets/desktop/image-deep-earth.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 50vh;
    width: 25%; */
    color: #fff;
    display: flex;
    align-items: end;
    margin: 20px;

}

.earth{
    background-image: url("./assets/desktop/image-deep-earth.jpg");
}

.soccer{
    background-image: url("./assets/desktop/image-curiosity.jpg");
}

.arcade{
    background-image: url("./assets/desktop/image-night-arcade.jpg");
}

.race{
    background-image: url("./assets/desktop/image-grid.jpg");
}



.gallery div h3{
    padding: 20px;
    font-size: 30px;
    font-family: "Josefin Sans", sans-serif;
    width: 20%;

}