*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Alata", sans-serif;
}
footer{
    color: white;
}

.principal__section{
    background-image: url("./assets/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px;
    font-family: "Josefin Sans", sans-serif;

}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list{
    display: flex;
    list-style: none;
    gap: 25px;
    color: #fff;
}

/* .hero>h1{ */
    /* margin-top: 100px;
    color: #fff;
    /* font-family: "Josefin Sans", sans-serif; */
    /* font-weight: 400; */
    /* font-size: 60px; */
    /* border: solid #fff; */
    /* padding: 20px; */
    /* width: 35%; */
    /* word-wrap: break-word; */

/* } */

.hero div {
    border: solid #fff;
    padding: 20px;
    width: 35%;
    margin-top: 100px;
    word-wrap: break-word;

}

.hero>div>h1{
    color: #fff;
    font-weight: normal;
    font-size: 60px;

}

.main   {
    width: 1040px;
    margin: auto;


}

.article__section{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;

}

.article__container{
    align-self: end;
    /* border: solid; */
    width: 25%;
    margin-left: -200px;
    background-color: #fff;
    /* padding: 60px; */
    padding: 60px 60px 0 60px;

}

.article__container h2{
    font-size: 40px;
    font-family: "Josefin Sans", sans-serif;
    padding-bottom: 40PX;

}


/* .gallery{
    position: relative;
}

.gallery div h3{
    position: absolute;
    bottom: 20px;
    left: 20px;
    top: 0;
    color: #fff;
    border: solid red;

} */

.gallery__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

}

.gallery__title>h2{
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;


}


.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 40vh);

    justify-content: space-between;
    /* border: solid red; */
    gap: 20px;

}


.gallery div{
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: end;

}

.gallery div:hover{
    color: #000;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.8);
}


.earth{
    background-image: url("./assets/desktop/image-deep-earth.jpg");

}


.soccer{
    background-image: url("./assets/desktop/image-soccer-team.jpg");
}

.arcade{
    background-image: url("./assets/desktop/image-night-arcade.jpg");
}

.race{
    background-image: url("./assets/desktop/image-grid.jpg");
}

.from{
    background-image: url("./assets/desktop/image-from-above.jpg");
}

.pocket{
    background-image: url("./assets/desktop/image-pocket-borealis.jpg");
}

.curiosity{
    background-image: url("./assets/desktop/image-curiosity.jpg");
}

.fisheye{
    background-image: url("./assets/desktop/image-fisheye.jpg");
}

/* .earth:hover{
    opacity: 0.3;
}

.soccer:hover{
    opacity: 0.3;
}

.arcade:hover{
    opacity: 0.3;
}

.race:hover{
    opacity: 0.3;
}

.from:hover{
    opacity: 0.3;
}

.pocket:hover{
    opacity: 0.3;
}

.curiosity:hover{
    opacity: 0.3;
}

.fisheye:hover{
    opacity: 0.3;
} */


.gallery div h3{
    padding: 20px;
    font-size: 30px;
    font-family: "Josefin Sans", sans-serif;
    width: 20%;

}

.button{
    border: solid black 2px;
    background-color: white;
    color: #000;
    /* font-weight: bold; */
    width: 100px;
    letter-spacing: 2px;
}  

.button:hover{
    background-color: black;
    color: white;
    cursor: pointer;

}

.footer{
    display: flex;
    flex-direction: column;


    background-color: black;
    color: white;
    margin-top: 150px;
    padding: 40px;
}

.container__footer{

    width: 1040px;
    margin: auto;
}


.grupo1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nav__list2{
    display: flex;
    list-style: none;
    gap: 30px;
}

.logos__footer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.grupo2{
    display: flex;
    justify-content: space-between;

}

.copyright{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}

.button2{
    visibility: hidden;
}



@media only screen and (max-width: 600px) {
    
    .principal__section{
    padding: 20px;
    background: url("./assets/mobile/image-hero.jpg");    
    height: 80vh;
    background-size: cover;    
        background-repeat: no-repeat ;

    }


    .nav__list{
        display: none;
    }
    
    .hero div{
        width: auto;



    }

    .hero div h1 {
        font-size: 42px;

    }


    .main{
        width: 375px;


    }

    .article__section{
        flex-direction: column;
        align-items: center;
    }

    .article__section > div > img{
        width: 340px;
    }

    .article__container{
        margin-left: 0;
        padding: 0;
        width: auto;
        text-align: center;
        margin-top: 40px;


    }

    .article__container h2 {
        font-size: 32px;
        padding-bottom: 20px;

    }


    .article__container p{
        width: 340px;
        margin: auto;

    }


    .gallery__title{
        justify-content: center;
    }

    .gallery__title button{
        display: none;
    }


    .gallery{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 15vh);
        margin: 20px;

    }

    .gallery > div > h3{
        font-size: 26px;
        width: 50%;


    }

    .earth{
        background-image: url("./assets/mobile/image-deep-earth.jpg");
    
    }
    
    
    .soccer{
        background-image: url("./assets/mobile/image-soccer-team.jpg");
    }
    
    .arcade{
        background-image: url("./assets/mobile/image-night-arcade.jpg");
    }
    
    .race{
        background-image: url("./assets/mobile/image-grid.jpg");
    }
    
    .from{
        background-image: url("./assets/mobile/image-from-above.jpg");
    }
    
    .pocket{
        background-image: url("./assets/mobile/image-pocket-borealis.jpg");
    }
    
    .curiosity{
        background-image: url("./assets/mobile/image-curiosity.jpg");
    }
    
    .fisheye{
        background-image: url("./assets/mobile/image-fisheye.jpg");
    }

    /* footer responsive */

    .button2{
        display: flex;
        justify-content: center;
        visibility:visible ;
        margin-top: 20px;
        /* border: solid blue; */

    }

    .button_responsive{
        border: black solid 1px;
        background-color: white;
        padding: 10px;
        width: 40vh;
        letter-spacing: 2px;
        /* font-weight: bold; */
    }

    /* .button_.button_responsive:hover{
        background-color: black;
        color: white;
        cursor: pointer;
    
    } */

    /* FALTAAAAAA FOOTER  */

} 
