body{
    background-color: aquamarine;
}

h1{
    color: blue;
    font-size: 80px;
}
.selector-clase{
    color: red;

}
#selector-id{
    color: yellowgreen;
    font-size: 24px;
}
button{
    background-color: red;
    padding: 10px;
    border-radius: 40px;
    width: 100px;
    height: 50px;
    border: none;
    transition: all 1.5s ease;
    /*transition es delay*/
}
button:hover{
    background-color: green;
}
.pseudo-clase-hover{
    font-size: 20px;
}
.pseudo-clase-hover:hover{
    color:blue;
    cursor: pointer;
}
.pseudo-clase-link-hover{
    text-decoration: none;
    font-size: 20px;
}
.pseudo-clase-link-hover:hover{
    text-decoration: underline;
}
.pseudo-clase-link-hover:active{
    font-size: 18px;
    color: orange;
}
.pseudo-clase-link-hover:focus{
    color: violet;
    border: 2px dotted #444;
}
/*Psuedoclase: primer y ultimo hijo*/

.hijos-pseudo p:first-child{
    background-color: red;
}
.hijos-pseudo p:last-child{
    background-color: blue;
}
.hijos-pseudo p:nth-child(4){
    background-color: orange;
}
/* Pares */
.hijos-pseudo p:nth-child(2n){
    background-color: green;
}
.hijos-pseudo p:nth-child(2n-1){
    background-color: blueviolet;
}

/*Before*/

.prueba-before::before{
    content: 'Hola';
    color: red;
    font-size: 20px;
    width: 12px;
    height: 12px;
    background-color: yellow;
    padding: 6px;

}
/*After*/
.prueba-before::after{
    content: 'Hola';
    color: yellow;
    background-color: blue;
    width: 12px;
    height: 12px;
    padding: 6px;
}

/*First letter*/
.prueba-first-letter::first-letter{
    color: red;
    font-size: 34px;
    text-decoration: underline;

}

/*Pseudo clase de validacion*/

.input1:required{
    border: 1px solid red;
}

.input1:valid{
    background-color: blue;
    color: white;

}

.input1:invalid{
    background-color: red;
    color: white;
}

/*Selectore combinados*/

.padre ul li:nth-child(3){
background-color: orangered;
}

.padre ul .selecciona-este-li{
    background-color: green;
}

.padre li:nth-child(4){
    background-color: aqua;
}

/*La forma mas recomendada es usar una unica clase */
/*  */
/* Heremcia */

.container {
color: blue;
font-size: 10px;
border: 1px solid green;
}

.child{
    border: inherit;
    font-size: 16px;
}

/* Cascada */

.miparrafo{
    padding: 10px;
    color: red;

}

.miparrafo{
    background-color: grey;
    color: blue;
}

.caja1{
background-color: brown;
width: 300px;
height: 300px;

}

.caja2{
    background-color: aquamarine;
    width: 50%;
    font-size: 30px;
}

.caja3{
    background-color: red;
    width: 50%;

}

/* Rem multiplica el valor dominante
 */