*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Outfit', sans-serif;;
    color: hsl(215, 51%, 70%);
    Font size: 18px

}

.container{
    background-color: hsl(217, 54%, 11%) ;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;

}

.box {
    background-color: hsl(216, 50%, 16%);
    padding: 15px;
    border-radius: 10px;
    width: 20%;
    text-align: center;
    box-shadow: 1px 1px 5px 9px rgba(0,0,0,0.21);
-webkit-box-shadow: 1px 1px 5px 9px rgba(0,0,0,0.21);
-moz-box-shadow: 1px 1px 5px 9px rgba(0,0,0,0.21);
  }

.img1{

        width: 97%;
        border-radius: 10px;
        margin-top: 4px;
    /* border: solid white; */
    margin-bottom: 10px;
    
}

.titulo{
    margin-top: 25px;
    color: hsl(0, 0%, 100%) ;
    text-align:justify;
    padding-left: 5px;
    padding-top: 0;
    /* border: solid white; */
    margin-top: 2px;
    height: 40px;
}

.parrafo1{
    margin-top: 15px;
    margin-bottom: 10px;
    /* border: solid white; */
    text-align: left;
    margin-top: 10px;
    padding-left: 5px;
}

.grupo1{

    display: flex;
    justify-content: space-between;
    
    /* margin-top: 0; */
    padding-left: 5px;
    padding-right: 5px;

    /* align-items: center; */
    /* border: solid white; */
    
    height: 40px;
    align-items: center;
}

.span1{
    color: hsl(178, 100%, 50%);
}


.img2{
    border: solid white 1px;
    width: 25px;
    border-radius: 25px;
}

.footer{
    display: flex;
    /* align-items: center; */
    justify-content: start;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 0;
    border-top: solid rgba(255, 255,255, 0.1) 0.2px;
    /* border: solid white; */
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;

}

.img1-1{
    width: 7px;
}

.img1-2{
    width: 13px;
}

.img2{
    margin-right: 15px;
}

.span{
    color: white;
}